- content_for(:header, "#{@league.name} Rankings: Week #{@ranking.week}")

.row
  .col-lg-10.col-lg-offset-1
    = link_to "Back to League", league_path(@league), class: 'btn-xs btn-default btn', style: 'margin-bottom: 2em'
    = render partial: 'ranking', locals: { ranking: @ranking }