- content_for(:header, "New League")

.row
  = form_for @league, html: { class: 'form-horizontal' } do |f|
    .form-group
      .col-lg-offset-2.col-lg-1 Name

      .col-lg-6= f.text_field :name

    .form-group
      .col-lg-offset-2.col-lg-1 Pic

      .col-lg-6=f.file_field :asset

    .form-group
      .col-sm-offset-3.col-sm-10
        = f.submit nil, class: 'btn btn-default'