- content_for(:header, @user.name)

- if current_user.id == @user.id
  .row
    = link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-default btn-xs btn-primary"


.row
  - if @leagues
    %p Leagues:
    - for league in @leagues
      %p= link_to league.name, league_path(league)

.row
  - if @teams
    %p Teams:
    - for team in @teams
      %p= link_to team.name, team_path(team)