%div
  = link_to "fooball", root_path
  - if current_user
    = link_to 'your profile', user_url(current_user)

  - else
    = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)